.boxWImg {
  background-color: #efefef;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  padding: 2.15em 1.5em;
  align-items: center;
  position: relative;

  &__text {
    margin-top: 0.8em;
  }
  &__title {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.5;
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: calc(20vw - 180px);
  }
}
