.btn {
  border: none;
  background-color: black;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  color: white;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}
